/* .container{
    margin-top: 20px;
    justify-content: center;
    align-items:center ;
    height: 100px;
} */

form{
    width:500px;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.fs-3{
    color: blue;

}
.row{
    background-color: aquamarine;
    transform: 0.5;
}